body {
  background-color: black;
  margin: 0;
  padding: 0;
}
nav ul li a {
  color: black;
  text-decoration: none;
  font-family: PT sans;
  font-size: 20px;
}

ul {
  list-style: none;
}

.nav-row {
  display: flex;
  background-color: #e3e6ea;
  height:auto;
  width: auto;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.nav-item {
  padding: 10px;
}

.about-me-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  color: #e3e6ea;
  background: #191919;
}

.about-me-text {
  position: relative;
  width: 80vw;
  font-size: 1.2rem;
  border: 5px solid;
  padding: 20px;
  margin-top: 50px;
  border-radius: 5px;
  color: #e3e6ea;
}

.portfolio-wrapper {
  background: #e3e6ea;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.portfolio-area {
  display: flex;
  justify-content: center;
}

.project-text {
  position: relative;
  border: 5px solid;
  border-radius: 5px;
  font-size: 1.2rem;
  width: 45vw;
  margin: 30px 20px;
  padding-left: 5px;
  padding-right: 5px;
}

h3 {
  text-align: center;
}

.links-wrapper {
  display: flex;
  justify-content: center;
}

.project-link {
  background-color: #FFFFFF;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  margin: 20px;
}

.project-pic1 {
  border: 5px solid;
  width: 45vw;
  border-radius: 5px;
  display: flex;
  /*align-items: center;
  justify-content: center;*/
  margin: 30px 20px;
  border: 5px solid #191919;
  background-image: url(.art/image1.png);
  background-repeat: no-repeat;
  background-position: cover;
}

.project-pic2 {
  border: 5px solid;
  width: 45vw;
  border-radius: 5px;
  display: flex;
  /*align-items: center;
  justify-content: center;*/
  margin: 30px 20px;
  border: 5px solid #191919;
  background-image: url(.art/image2.png);
  background-repeat: no-repeat;
  background-position: center;
}

.project-pic3 {
  border: 5px solid;
  width: 45vw;
  border-radius: 5px;
  display: flex;
  /*align-items: center;
  justify-content: center;*/
  margin: 30px 20px;
  border: 5px solid #191919;
  background-image: url(.art/image3.png);
  /*background-repeat: no-repeat;*/
  background-position: top;
}
